
<div class="jumbotron mx-auto">
<div class="container">

<h1 class="display-4 text-white">Create Profile</h1>

<%= render 'form', profile: @profile %>

<%= link_to 'Back', root_path %>

</div>
</div>
