<div class="jumbotron">
<div class="container">

<h1 class="display-4 text-center">Add To List</h1>

</div>
</div>



<%= render 'form', bucket: @bucket %>

<%= link_to 'Back', buckets_path, class: 'btn btn-primary' %>
